@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --bg-color: #fff;
}

.dark {
  --text-color: #fff;
  --bg-color: #000;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}


.remaining-seconds {
  display: inline-block;
  width: 50px; /* または必要な幅に設定 */
  text-align: center;
}

.remaining-seconds.empty::before {
  content: "0.0秒";
  visibility: hidden;
}
